
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Create Purchase Order</title>
    <link rel="stylesheet" type="text/css" href="{% static 'PO_Items/styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="{% url 'PO_Items:PO_Items' %}">Home</a>
        {% if request.user.role == 'BUYER' or request.user.role == 'ADMIN' %}
            <a href="{% url 'PO_Items:create_order' %}">Create Order</a>
        {% endif %}
        {% if request.user.role == 'INVENTORY_MANAGER' or request.user.role == 'ADMIN' %}
            <a href="{% url 'PO_Items:manage_items' %}">Manage Items</a>
            <a href="{% url 'PO_Items:manage_suppliers' %}">Manage Suppliers</a>
        {% endif %}
        {% if request.user.role == 'ADMIN' %}
            <a href="{% url 'PO_Items:manage_users' %}">Manage Users</a>
        {% endif %}
        <form class = "form_nav" method="post" action="{% url 'logout' %}" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" >Logout</button>
        </form>
    </div>
    <h2>Create Purchase Order</h2>
    <form method="post" action="">
        {% csrf_token %}
        <table border="1">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Item Name</th>
                    <th>Supplier</th>
                    <th>Description</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in sports_items %}
                <tr>
                    <td><input type="checkbox" name="sports_item" value="{{ item.id }}"></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.supplier }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.unit_price }}</td>
                    <td><input type="number" name="quantity" min="1" value="1"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Create Purchase Order</button>
    </form>
</body>
</html>